<ion-header>

  <ion-toolbar color="secondary">

    <ion-title>

    </ion-title>

    <ion-menu-button slot="start"></ion-menu-button>
    <ion-searchbar></ion-searchbar>

  </ion-toolbar>

</ion-header>

<ion-content padding>

    <ion-card>
        <ion-item>
          <ion-icon name="walk" slot="start"></ion-icon>
          <ion-label>Shop Name</ion-label>
          <ion-button fill="solid" slot="end">Visit</ion-button>
        </ion-item>
      
        <ion-card-content>
          This is a shop description, without any paragraph or header tags,
          within an ion-card-content element.
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-item>
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>Shop Name</ion-label>
            <ion-button fill="solid" slot="end">Visit</ion-button>
          </ion-item>
        
          <ion-card-content>
            This is a shop description, without any paragraph or header tags,
            within an content element.
          </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-item>
              <ion-icon name="walk" slot="start"></ion-icon>
              <ion-label>Shop Name</ion-label>
              <ion-button fill="solid" slot="end">Visit</ion-button>
            </ion-item>
          
            <ion-card-content>
              This is a shop description, without any paragraph or header tags,
              within a content element.
            </ion-card-content>
          </ion-card>

  

</ion-content>
