.tv_card {
  width: 200px;
  height: 120px;
  background-size: cover !important;
  background-position: center !important;
}

.movie_card {
  width: 140px;
  height: 180px;
  background-size: cover !important;
  background-position: center !important;
}

.card {
  width: 180px;
  height: 70px;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(81, 88, 150);
}
