<ion-header>

  <ion-toolbar color="secondary">

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-title>

    </ion-title>

    <ion-button slot="end" (click)="onClick()">
        Skip
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

  </ion-toolbar>

</ion-header>

<ion-content>

    <ion-card class="welcome-card">

      <ion-card-header>

      </ion-card-header>

      <ion-card-content>
          <ion-slides pager="true">

              <ion-slide>
                <ion-img src="/assets/img/walkthrough/slider-1.png"></ion-img>
              </ion-slide>
          
              <ion-slide>
                  <ion-img src="/assets/img/walkthrough/slider-1.png"></ion-img>
              </ion-slide>
          
              <ion-slide>
                  <ion-img src="/assets/img/walkthrough/slider-1.png"></ion-img>
              </ion-slide>
            </ion-slides>

      </ion-card-content>

    </ion-card>

    <ion-row style="height: 10px"></ion-row>

    <ion-item>
        <ion-label position="stacked">
          <h3> Phone Number </h3>
        </ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input></ion-input>
        </ion-item>
        
        <ion-row style="height: 20px"></ion-row>

    <ion-button shape="round" color="primary" expand="full" (click)="onClick()">
        Sign Up
      </ion-button>
    
</ion-content>

<ion-footer>
    <ion-toolbar text-center>
      <ion-button shape="round" expand="full" color="tertiary" (click)="onClick()">
        Sign In
      </ion-button>
    </ion-toolbar>
  </ion-footer>